# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [15]:
!pip install pandas

In [2]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [16]:
recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv', index_col=0)

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [17]:
print("Recipes:")
print('Количество строк:', recipes.shape[0])
print('Количество столбцов:', recipes.shape[1])
print('Тип данных каждого столбца:\n', recipes.dtypes)

print("\nReviews:")
print('Количество строк:', reviews.shape[0])
print('Количество столбцов:', reviews.shape[1])
print('Тип данных каждого столбца:\n', reviews.dtypes)

Recipes:
Количество строк: 30000
Количество столбцов: 8
Тип данных каждого столбца:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Reviews:
Количество строк: 126696
Количество столбцов: 5
Тип данных каждого столбца:
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [18]:
print("Recipes:")
columns_with_missing = list(recipes.columns[recipes.isnull().any()])
print("Столбцы с пропусками:", columns_with_missing) # any() - есть ли хотя бы один пропущенный элемент в столбце
missing_proportion = recipes.isnull().any(axis=1).mean() 
print("Доля строк, содержащих пропуски:", missing_proportion)

print("\nReviews:")
columns_with_missing = list(reviews.columns[reviews.isnull().any()])
print("Столбцы с пропусками:", columns_with_missing) 
missing_proportion = reviews.isnull().any(axis=1).mean() 
print("Доля строк, содержащих пропуски:", missing_proportion)

Recipes:
Столбцы с пропусками: ['n_steps', 'description', 'n_ingredients']
Доля строк, содержащих пропуски: 0.5684666666666667

Reviews:
Столбцы с пропусками: ['review']
Доля строк, содержащих пропуски: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [19]:
print("Среднее значение для каждого числового столбца в recipes:")
for column in recipes.select_dtypes(include=[float, int]):
    print(column, ":",  round(recipes[column].mean(), 2))

print("\nСреднее значение для каждого числового столбца в reviews:")
for column in reviews.select_dtypes(include=[float, int]):
    print(column, ":", round(reviews[column].mean(), 2))

Среднее значение для каждого числового столбца в recipes:
id : 221879.29
minutes : 123.36
contributor_id : 5635900.57
n_steps : 9.81
n_ingredients : 9.01

Среднее значение для каждого числового столбца в reviews:
user_id : 140801264.74
recipe_id : 160094.39
rating : 4.41

1.5 Создайте серию из 10 случайных названий рецептов.

In [155]:
import random

random_ind = random.sample(range(len(recipes)), 10)
random_titles = recipes.loc[random_ind, 'name']
print(random_titles)

18788                              Non Alcoholic Champagne
29466                              Wine Meatball Appetizer
5780            Chicken Fricassee With Lemon Mustard Sauce
14290           Huevos Y Chilaquiles   Eggs With Tortillas
17472                     Mexican Chocolate Pumpkin Mousse
4652     Caramel Frosted Pumpkin Cookies With Buttersco...
22074                       Radish Sprout And Lentil Salad
14997                                         Jicama Chips
7233                                      Coca A Cola Cake
15884                                        Lemon Filling
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [154]:
# Создание нового столбца "index" со значениями от 0 до n-1
reviews['index'] = range(len(reviews))

# Установка столбца "index" в качестве индекса
reviews = reviews.set_index('index')

reviews.head()

,user_id,recipe_id,date,rating,review
index,,,,,
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [153]:
recipes.loc[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
28,Quick Biscuit Bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0,117,3
60,Peas Fit For A King Or Queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0,178,7
90,Hawaiian Sunrise Mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0,270,3
91,Tasty Dish S Banana Pudding In 2 Minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0,116,8
94,1 Minute Meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0,224,3
...,...,...,...,...,...,...,...,...,...,...
29873,Zip And Steam Red Potatoes With Butter And Garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0,183,9
29874,Ziplock Vanilla Ice Cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0,157,4
29905,Zucchini And Corn With Cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0,100,5
29980,Zucchini With Jalapeno Monterey Jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0,17,5
29983,Zucchini With Serrano Ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0,136,4

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [23]:
# Преобразуйте столбец submitted из таблицы recipes в формат времени.

recipes['submitted'] = pd.to_datetime(recipes['submitted'])
print(recipes['submitted'].dtype)

datetime64[ns]

In [24]:
# Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

recipes = pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted'])
print(recipes['submitted'].dtypes)

datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [156]:
recipes.loc[recipes['submitted'].dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29993,Zuni Caf Zucchini Pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0,298,4
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [157]:
recipes['description'] = recipes['description'].astype(str)
recipes['description_length'] = recipes['description'].str.len()
print(recipes['description_length'])

0        330
1        255
2         39
3        154
4        587
        ...
29995    484
29996    286
29997    311
29998    648
29999    125
Name: description_length, Length: 30000, dtype: int64

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [27]:
recipes['name'] = recipes['name'].str.title()
print(recipes['name'])

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [28]:
recipes['name_word_count'] = recipes['name'].str.split().apply(len)
print(recipes['name_word_count'])

0        8
1        5
2        7
3        3
4        8
        ..
29995    8
29996    4
29997    5
29998    2
29999    7
Name: name_word_count, Length: 30000, dtype: int64

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [29]:
recipe_counts = recipes['contributor_id'].value_counts()
print('Количество рецептов, представленных каждым из участников:\n', recipe_counts)
print('\nМаксимальное кол-во рецептов добавил участник:', recipe_counts.idxmax())

Количество рецептов, представленных каждым из участников:
 89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64

Максимальное кол-во рецептов добавил участник: 89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [73]:
# Сгруппировать отзывы по recipe_id и посчитать средний рейтинг
mean_rating = reviews.groupby('recipe_id')['rating'].mean()

# Объединение таблиц по столбцу id из recipes
merged = recipes.merge(reviews[['recipe_id']], how='left', left_on='id', right_on='recipe_id')
# Отбор рецептов, для которых нет отзывов
recipes_without_reviews = merged[merged['recipe_id'].isna()]['id']

print('Средний рейтинг к каждому из рецептов:\n', mean_rating)
print('\nКоличество рецептов без отзывов:', len(recipes_without_reviews))

Средний рейтинг к каждому из рецептов:
 recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

Количество рецептов без отзывов: 1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [110]:
# Извлечь год из столбца 'submitted' и сохранить его в новом столбце 'year'
recipes['year'] = pd.to_datetime(recipes['submitted']).dt.year

# Подсчитать количество рецептов, созданных в каждом году
recipe_count_by_year = recipes['year'].value_counts().sort_index()

# Вывести результаты
print(recipe_count_by_year)

1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: year, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [151]:
# Выбор нужных столбцов из таблиц
recipes_for_merge = recipes[['id', 'name']]
reviews_for_merge = reviews[['recipe_id', 'user_id', 'rating']]

# Объединение таблиц
merged_5_1 = pd.merge(recipes_for_merge, reviews_for_merge, left_on='id', right_on='recipe_id')

# Удаление лишнего столбца
del merged_5_1['recipe_id']

merged_5_1

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [142]:
# Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий 
# отзывов, и попытавшись найти строку, соответствующую этому рецепту, 
# в полученном DataFrame.

# Рецепт 223349 не имеет отзывов, попробуем его вывести
print(merged_5_1.loc[merged_5_1['id'] == 223349])

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [150]:
# Сгруппировать отзывы по recipe_id и посчитать количество отзывов
review_counts = reviews.groupby('recipe_id')['review'].count()

# Объединение таблиц по столбцу id из recipes
merged_5_2 = recipes.merge(review_counts, how='left', left_on='id', right_index=True)

# Заменить NaN на 0 в столбце review_count
merged_5_2['review_count'] = merged_5_2['review'].fillna(0).astype(int)

# Выбрать нужные столбцы
merged_5_2 = merged_5_2[['id', 'name', 'review_count']]
merged_5_2

           id                                          name  review_count
0       44123         George S At The Cove  Black Bean Soup             3
1       67664            Healthy For Them  Yogurt Popsicles             8
2       38798                  I Can T Believe It S Spinach             3
3       35173                          Italian  Gut Busters             1
4       84797      Love Is In The Air  Beef Fondue   Sauces             8
...       ...                                           ...           ...
29995  267661  Zurie S Holey Rustic Olive And Cheddar Bread             4
29996  386977          Zwetschgenkuchen  Bavarian Plum Cake             2
29997  103312   Zwiebelkuchen   Southwest German Onion Cake             6
29998  486161                                   Zydeco Soup             6
29999  298512        Cookies By Design   Cookies On A Stick             1

[30000 rows x 3 columns]

In [149]:
# Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий 
# отзывов, и найдя строку, соответствующую этому рецепту, в полученном 
# DataFrame.

# Рецепт 223349 не имеет отзывов, попробуем его вывести
merged_5_2.loc[merged_5_2['id'] == 223349]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,review,review_count
26,Pasta With Shrimp Eggplant,223349,50,452592,2007-04-18,7.0,a nice low carb way to feel like you are eatin...,9.0,54,4,NaN,0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [128]:
# Сгруппировать отзывы по recipe_id и посчитать средний рейтинг
mean_rating = reviews.groupby('recipe_id')['rating'].mean()

# Добавить столбец с годом выпуска рецепта
recipes['year'] = pd.to_datetime(recipes['submitted']).dt.year

# Объединение таблиц по столбцу id из recipes
merged = recipes.merge(mean_rating, how='left', left_on='id', right_on='recipe_id')

# Выбор нужных столбцов
df = merged[['id', 'year', 'rating']]

# Посчитать средний рейтинг в каждом году
mean_rating_by_year = df.groupby('year')['rating'].mean()

year_with_min_rating = mean_rating_by_year.idxmin()
print("Год с наименьшим средним рейтингом: ", year_with_min_rating)

Год с наименьшим средним рейтингом:  2017

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [135]:
# Отсортируйте таблицу в порядке убывания величины столбца name_word_count
recipes_sorted = recipes.sort_values('name_word_count', ascending=False)
recipes_sorted.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144,13

In [137]:
# Сохраните результаты выполнения заданий 3.1-3.3 в csv файл
recipes_sorted[['description_length', 'name', 'name_word_count']].to_csv('6.1.csv', index=False) # index=False - индексы строк не будут записаны в файл

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [152]:
with pd.ExcelWriter('6.2.xlsx') as writer:
    merged_5_1.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    merged_5_2.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)